<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas</title>
</head>

<body>

    <!--List inside another list-->
    <h1>Listas Aninhadas</h1>

    <p>Listas não ordenadas aninhadas:</p>

    <ul>
        <li>São Paulo</li>
        <li>Minas Gerais
            <ul>
                <li>Belo Horizonte</li>
                <li>Tiradentes</li>
            </ul>
        </li>
        <li>Rio de Janeiro</li>
    </ul>

    <p>Lista de tipos diferentes aninhadas:</p>
    <ol>
        <li>Café</li>
        <li>Chá
            <ul>
                <li>Preto</li>
                <li>Verde</li>
            </ul>
        </li>
        <li>Leite</li>
    </ol>

</body>

</html>