<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header style="display: flex">
      <!--Aqui começa meu logo.-->
      <section>
        <img
          src="perfil.jpg"
          alt="Foto de Perfil"
          height="150px"
          ;
          width="150px;"
        />
      </section>
      <!-- Navegação (menu)-->
      <nav>
        <br /><br />
        &nbsp;&nbsp;<a href="mySite.html"> Sobre mim </a> &nbsp;&nbsp; |
        &nbsp;&nbsp; &nbsp;&nbsp;<a href="entreterimento.html" target="_blank">
          Entreterimento </a
        >&nbsp;&nbsp; | &nbsp;&nbsp; &nbsp;&nbsp;<a
          href="music.html"
          target="_blank"
        >
          Música
        </a>
      </nav>
    </header>
<hr>
    <!--Conteúdo de entreterimento-->
    <!--Exemplo de usi <article>-->
    <article>
      <h3>One Piece</h3>
      <h5>Nível: 5/5</h5>
      <p>
        <img
          src="oncepiece.webp"
          alt="One piece"
          width="150px"
          height="100px"
        />
      </p>

      <p>
        One Piece é sobre um pirata que estica<br />
        Ele obteve seus poderes comendo uma fruta<br />
        que lhe concedeu poderes de borracha.
      </p>

      <p>Conceça mais sobre One Piece: &nbsp; <a href="#"> Leia + </a></p>
    </article>
<hr>
    <article>
      <h3>Andar de bike</h3>
      <h5>Nivel 4/5</h5>
      <p>
        <img src="bike1.jfif" alt="Andar de bike" width="150px" height="150px" />
      </p>

      <p>
        Andar de bike é uma das coisas que mais gosto de fazer<br />
        se eu puder ir de bike pra algum lugar, pra evitar ônibus<br />
        com certeza eu vou de bike.
      </p>

      <p>
        Leia mais sobre os benefícios que tras a sua saúde,<br />
        andar de bicicleta:
        <a
          href="https://blog.bikeregistrada.com.br/vem-pedalar-10-beneficios-de-andar-de-bike-para-a-saude/"
          target="_blank"
        >
          Click aqui!</a
        >
      </p>
    </article>
<hr>
    <article>
        <h1>Estudar Programação</h1>
        <h5>Nivel 3/5</h5>
        <p>
            <img src="perfil.jpg" alt="Programação web" width="150px" height="150px">
        </p>

        <p>
            Umas coisas que mais vem me chamando atenção é esrudar sobre<br>
            Codgos de Programação.
        </p>
        <p>
            Pesquise mais sobre essa área de tecnologia
            <a href="https://blog.eseg.edu.br/o-que-e-programacao-web/" target="_blank">Click aqui!</a>
        </p>
    </article>
<hr>
    <article>
        <h1>Assistir desenhos da Disney</h1>
        <h5>Nivel 2/5</h5>
        <p>
            <img src="Disney.jfif" alt="Filmes da Disney" width="150px" height="150px">
        </p>

        <p>
            Assistir os filmes da disney e lembrar da infancia.<br>
            Fez parte da infancia de todxs.
            
        </p>

        <p> Assista todos os filmes da Disney nessa plataforma:
            <a href="https://www.disneyplus.com" target="_blank"> Click aqui!</a>
        </p>
    </article>
<hr>
    <!-- <article>
        <h1> Sair com os de FÉ</h1>
        <h5> Nivel 1/5</h5>
        <p>
            <img src="firends.jfif" alt="Role" width="150px" height="150px">
        </p>

        <p>
            Se reunir com os de Fé para se acabar nas drogas.<br>
            Conversar sobre a vida, metas...
        </p>

    </article> -->
    <footer>
        By Kleytton &copy;
    </footer>
  </body>
</html>
