<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Playlist</title>
  </head>
  <body>
    <header style="display: flex">
      <!--Aqui começa meu logo.-->
      <section>
        <img src="perfil.jpg" alt="Foto de Perfil" height="100px" ;width="150px;" />
      </section>
      <!-- Navegação (menu)-->
      <nav>
        <br /><br />
        &nbsp;&nbsp;<a href="mySite.html"> Sobre mim </a> &nbsp;&nbsp; |
        &nbsp;&nbsp; &nbsp;&nbsp;<a href="entreterimento.html" target="_blank">
          Entreterimento </a>&nbsp;&nbsp; | &nbsp;&nbsp; &nbsp;&nbsp;<a href="music.html"target="_blank">Música
        </a>
      </nav>
    </header>

    <main>
     <h3> Top 10 das minhas músicas</h3>
       <ol reversed>
        <li>Rouge - Ragatanga</li>
        <li>Only love can hut like this</li>
        <li>Un-break my heart</li>
        <li>Mama - Valesca Popozuda feat. Catra</li>
        <li>Ela e ele - Pericles</li>
        <li>Lift me - Rhianna</li>
        <li>Borns this way - Lady Gaga</li>
        <li>I can't love in the dark - Adelle</li>
        <li>Pefect Duet - Ed. </li>
        <li>Love one the Brain - Rhianna</li>
       </ol>
    </main>
  </body>
</html>
