<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My little world</title>
  </head>
  <body>
    <!--Cabeçalho do meu site-->
    
    <header  style="display: flex;">
      <!--Aqui começa meu logo.-->
      <section>
        <img src="perfil.jpg" alt="Foto de Perfil" height="150px"; width="150px;">

      </section>
      <!-- Navegação (menu)-->
      <nav>
        <br><br>
       &nbsp;&nbsp;<a href="mySite.html"> Sobre mim </a> &nbsp;&nbsp; | &nbsp;&nbsp;
       &nbsp;&nbsp;<a href="entreterimento.html" target="_blank"> Entreterimento </a>&nbsp;&nbsp; | &nbsp;&nbsp;
       &nbsp;&nbsp;<a href="music.html" target="_blank"> Música </a>  
      </nav>
    </header>

<!--Conteúdo Principal do my site-->
<main> 
    <h1> Welcome to my universe</h1>
    <p>
        Fala pessoal lindo! Vocês são muito foda<br>
        Vamo arrasar nesse período do curso de <br>
        Programação Web. <br> I'm very very hungr
        <h3> Algumas coisas sobre me.</h3>
        <ul>
            <!--Lista não ordenada-->
            <li>Tô sempre em busca de me superar todos os dias</li>
            <li>Tô buscande sempre conhecimento na área de Desenvolvimento Web
                <ul>
                    <li>JavaScript</li>
                    <li>CSS</li>
                    <li>html</li>
                    <li> Quero me aprofundar um pouco mais em SQL   </li>
                </ul>
            </li>
            <li>Sou muito preguiçoso! (depende)</li>
            <li>Faço academia</li>
            <li>Quero me dedicar a aprender outro idioma</li>
        </ul>
    </p>
</main>
<!--Rodapé-->
<footer> 
    By Kleytton &copy;
</footer>
  </body>
</html>
